{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <form action="" method="get" class="form-inline">
    {{ search_newspaper|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search">
  </form>
  <h1>
    Newspaper list
    <a href="{% url 'news:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <a href="{% url "news:newspaper-detail" pk=newspaper.id %} ">{{ newspaper.title }}</a>
          (Release date: <strong>{{ newspaper.published_date|date:"F j, Y" }}</strong> --- Topic:
          <strong>{{ newspaper.topic }}</strong>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers in the agency</p>
  {% endif %}

{% endblock %}