{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'news:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'news:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p><strong>Topic:</strong> {{ newspaper.topic.name }}</p>
  <p><strong>Content:</strong> {{ newspaper.content|truncatechars:50 }}</p>

  <h4>Publishers</h4>
  <ul>
    {% for publisher in newspaper.publishers.all %}
      <li>{{ publisher.username }} ({{ publisher.first_name }} {{ publisher.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}